@model QuizWebApp.Models.QuizWebAppDb
@using QuizWebApp.Models
@using QuizWebApp.Helpers

@{
    var q = Model.Questions.Find(Model.Contexts.First().CurrentQuestionID);
}
<h3>問題</h3>

<div class="well well-small">
    <div>
        @Html.FormatToHtml(q.Body, q.BodyFormat)
    </div>
</div>

<h3>以下から回答を選択してください</h3>

<div class="well well-small">

    @foreach (var opt in q.GetOptions())
    {
        <div class="options">
            <input type="radio" name="option" value="@opt.OptionNumber" id="@("option" + opt.OptionNumber.ToString())" />
            <label for="@("option" + opt.OptionNumber.ToString())">
                @opt.Option
                @if (string.IsNullOrEmpty(opt.OptionImage) == false)
                {
                    <img src="@opt.OptionImage" />
                }
            </label>
        </div>
    }
</div>