@model QuizWebApp.Models.QuizWebAppDb
@using QuizWebApp
@using QuizWebApp.Models
@using QuizWebApp.Helpers
@{
    var q = Model.Questions.Find(Model.Contexts.First().CurrentQuestionID);
    var playerID = this.User.Identity.UserId();
    var yourAns = Model.Answers.First(a => a.PlayerID == playerID && a.QuestionID == q.QuestionId);
    var choosed = yourAns.ChoosedOptionIndex >= 0 ? q.GetOptions()[yourAns.ChoosedOptionIndex - 1] : null;
    var correctOption = q.GetOptions()[q.IndexOfCorrectOption - 1];
}

<h3>問題</h3>

<div class="well well-small">
    <div>
        @Html.FormatToHtml(q.Body, q.BodyFormat)
    </div>
</div>

<h3>あなたが選択した回答:</h3>

<div class="well well-small">
    <div class="options">
        @if (choosed == null)
        {
            <p>※回答は選択されませんでした</p>
        }
        else
        {
            <div>@(choosed.Option)</div>
            if (string.IsNullOrEmpty(choosed.OptionImage) == false)
            {
                <img src="@choosed.OptionImage" />
            }
        }
    </div>

    @if (yourAns.Status == AnswerStateType.Correct)
    {
        <h3 class="correct">正解! :)</h3>
    }
    else
    {
        <h3 class="incorrect">不正解 :(</h3>

        <h4>正解は</h4>
        <div class="options">
            <div>@correctOption.Option</div>
            @if (string.IsNullOrEmpty(correctOption.OptionImage) == false)
            {
                <img src="@correctOption.OptionImage" />
            }
        </div>
    }
</div>

<h3>解説</h3>

<div class="well well-small">
    @if (string.IsNullOrEmpty(q.Comment) == false)
    {
        <div>@Html.FormatToHtml(q.Comment, q.CommentFormat)</div>
    }
</div>