@model QuizWebApp.Models.Question
@{
    ViewBag.Title = "編集";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Partial("_EntryFormPartial", Model)
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Views/Question/Edit.js"></script>
}
